.main {
  padding: 0 2.4rem 10rem;
  background: url("../assets/sign-up/bg-pattern-side.svg") no-repeat 50% -333%/
      120.2rem,
    linear-gradient(transparent 69%, var(--fourth-color) 69%);
}
.main .title {
  font-size: 4rem;
  line-height: 4.8rem;
  text-align: center;
  color: var(--third-color);
  margin-bottom: 1.7rem;
}
.main .text-content {
  font-size: 1.6rem;
  text-align: center;
  color: var(--fifth-color);
  line-height: 2.6rem;
  margin-bottom: 6.4rem;
}

/* Tablet */
@media (min-width: 768px) {
  body {
    /* background-image: none; */
  }
  .main {
    background: url("../assets/sign-up/bg-pattern-side.svg") no-repeat 50% 19rem/
        145.4rem,
      linear-gradient(transparent 68%, var(--fourth-color) 68%);
  }
  .main .text-content {
    width: 56rem;
    margin: 0 auto 4rem;
  }
}
