.card {
  height: 50.8rem;
  width: 100%;
  background-color: var(--white);
  border-radius: 1.3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}
.plan-type {
  color: var(--third-color);
  margin-bottom: 4rem;
}
.plan-price {
  color: var(--third-color);
  margin-bottom: 1rem;
}
.plan-text {
  font-size: 1.6rem;
  color: var(--third-color);
  margin-bottom: 5.6rem;
}
.plan-list-features {
  margin: 0;
  padding: 0;
  list-style: none;
}
.plan-list-features li {
  font-size: 1.6rem;
  color: var(--fifth-color);
}
.plan-list-features li:not(:last-child) {
  margin-bottom: 1.6rem;
}
.plan-list-features li:last-child {
  margin-bottom: 3.2rem;
}
.button {
  background-color: var(--first-color-button);
  color: var(--first-color);
}
.button:hover {
  background-color: var(--first-color-button-hover);
}
/* Card Plan Type Pro */
.plan-type-pro {
  background: url("../assets/home/bg-pattern-pricing.svg") no-repeat 50% -37.5rem,
    var(--first-color);
}
.plan-type-pro .plan-type,
.plan-type-pro .plan-price,
.plan-type-pro .plan-text,
.plan-type-pro .plan-list-features li {
  color: var(--white);
}
.plan-type-pro .plan-list-features li {
  opacity: 0.75;
}
.plan-type-pro .button {
  background-color: var(--white);
}
.plan-type-pro .button:hover {
  filter: brightness(150%);
}

/* Tablet */
@media (min-width: 768px) {
  .card {
    height: 31.6rem;
    padding: 4.8rem;
    display: grid;
    grid-template-columns: 58% 42%;
    text-align: left;
    align-content: center;
  }
  .plan-type {
    margin-bottom: 1.6rem;
    grid-column: 1 / 2;
  }
  .plan-price {
    grid-column: 1 / 2;
    margin-bottom: 1rem;
  }
  .plan-text {
    grid-column: 1 / 2;
    margin-bottom: 2.4rem;
  }
  .plan-list-features {
    margin-top: 1.7rem;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
  }
  .card .button {
    grid-column: 1 / 2;
    margin-left: 0;
  }
  .plan-type-pro {
    background-position: -32rem 50%;
  }
}
