@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --first-color: #5175ff;
  --second-color: #829cff;
  --second-color-light: rgba(130, 156, 255, 15.26%);
  --second-color-light-hover: rgba(130, 156, 255, 25%);
  --third-color: #333950;
  --fourth-color: #25293a;
  --fifth-color: #747b95;
  --sixth-color: #f05b5b;
  --white: #ffffff;
  --bg-color-top: #fafafa;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 2.8rem;
  margin: 0;
  background: linear-gradient(var(--bg-color-top) 58%, var(--fourth-color) 58%);
}

/* Globales */
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
h1 {
  font-size: 5.6rem;
  line-height: 6.4rem;
}
h2 {
  font-size: 2rem;
  line-height: 2.8rem;
}
h3 {
  font-size: 1.6rem;
  line-height: 4.8rem;
}
